@import "../abstracts/variables";

.content {
  width: 100%;
  background: url(../img/main_bg.jpg) 50% 84% no-repeat;

  .info {
    width: 100%;
    background-color: $color-bg-light;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);

    &-header {
      display: flex;
      justify-content: space-around;
      
      &-tab {
        color: $color-sand;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          width: 0%;
          height: 3px;
          background-color: $color-terracotta;
          margin-top: 4px;
          transition: $transition-speed;
        }

        &:hover::after {
          width: 60%;
        }
      }
    }

    &-tabcontent {
      display: flex;
      padding-top: 50px;
      transition: 0.3s;

      .description, .photo {
        width: 50%;
      }

      .description-title {
        font-size: 34px;
        color: $color-terracotta;
        &::after {
          content: '';
          display: block;
          width: 20%;
          height: 3px;
          background-color: $color-terracotta;
          margin-top: 4px;
        }
      }

      .description-text {
        margin-top: 30px;
        color: $color-white;
        font-weight: 300;
      }

      .description-btn {
        display: block;
        width: 180px;
        font-size: 12px;
        border: 1px solid $color-terracotta;
        color: $color-terracotta;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
        text-transform: uppercase;
        &:hover {
          box-shadow: 0px 0px 5px $color-terracotta;
        }
      }

      .photo { 
        img {
        width: 100%;
        margin: 0px 10px 0px 20px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8); 
      }
      .photo-market,
      .photo-palace{
          width: 44%;
          margin: 0px 10px 0px 20px;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .show { display: flex; }
  .hide { display: none; }
}