// Цвета Марокко
$color-sand: #F5E6D3;
$color-terracotta: #E2725B; 
$color-dark: #2B2B2B;
$color-bg-light: #373737;
$color-white: #ffffff;
$color-overlay: rgba(0, 0, 0, 0.4);

// Шрифты
$font-main: "Roboto Slab", serif;

// Анимации
$transition-speed: 0.4s;